<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns = "http://www.springframework.org/schema/beans"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd" >

    <util:constant id="OUTPUT_STREAM" static-field="java.lang.System.out"/>

    <bean id="questionDao" class="ru.fedbon.dao.CsvQuestionDao">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="stringifier" class="ru.fedbon.service.QuestionStringifierService"/>

    <bean id="testingService" class="ru.fedbon.service.TestingServiceImpl">
        <constructor-arg index="0" ref="questionDao"/>
        <constructor-arg index="1" ref="stringifier"/>
    </bean>
</beans>
